@media (max-width: 992px) {
    .cart-icon{
        border: none;
        padding: 5px;
    }
    .logo{
        width: 150px;
        
    }
    .navbar{
        position: absolute;
        top: 100px;
        left: 5%;
        right: 5%;
        font-weight: 600;
       
    }
    .navbar-list{
        position: absolute;
        top: 100px;
        left: 5%;
        right: 5%;
        font-weight: 600;
        flex-direction: column;
        background-color: var(--azul);
        border: 2px solid var(--gris);
        border-top: 0px;
        border-radius: 0px 0px 15px 15px;
        align-items: flex-start;
        padding: 43px 30px;
    }
    .menu{
        display: block;
    }
}